@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <p>Aluno: @ViewData["aluno"]</p>
    <span>
     Contato:     <a href="https://www.linkedin.com/in/davidsonbss">LinkedIn</a>
    </span>
    <p>E-mail: @ViewData["email"]</p>
</address>

